body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100vh; /* 화면 전체 높이를 사용 */
    background-color: white; /* 배경을 흰색으로 */
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center; /* 세로 중앙 정렬 */
}

p {
    margin: 0;
}

#gameCanvas {
    margin: 0;
}

#levelUpUI {
    display: none;
}

.overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

#levelUpBackground {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 700px;
    padding: 20px;
    text-align: center;
    background: rgba(0,0,0,0.8);
    color: white;
    border: 2px solid white;
}

.card-wrapper {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.skill-card {
    width: 200px;
    height: 320px;
    background-image: url('../assets/card.png');
    background-size: cover;
    position: relative;
    color: white;
    text-align: center;
    cursor: pointer;
    padding: 10px;
    font-family: sans-serif;
    border-radius: 10px;
    z-index: 800;
    opacity: 0.9;
}

.skill-card:hover {
    opacity: 1;
}

.skill-icon {
    padding-top: 70px;
}

.skill-dis {
    font-size: 14px;
    margin: 0;
    padding: 0px 32px;
}

.skill-name {
    position: absolute ;
    bottom: 40px;
    left: 50%;
    color: #000;
    transform: translateX(-50%); /* 정확한 중앙 정렬 */
}


#gameOverUI {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 20px;
    background: rgba(0,0,0,0.8);
    color: white;
    border: 2px solid white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#gameOverUI button {
    margin-top: 20px;
    font-weight: bold;
    height: 35px;
    width: 100%;
}

#scoreTable {
    height: 350px;
    width: 95%;
    margin: 20px 0px;
    border-radius: 10px;
    border: 2px #333 solid ;
    padding: 10px;
}

#tags {
    display: flex;
    width: 100%;
    margin: 0px 0px;
    justify-content: space-between;
}

#scores {
    list-style: none;
    padding: 0;
    margin: 0;
}

#scores li {
    margin-top: 8px;
}

.rank-row {
    display: flex;
    justify-content: space-between;
}

#submitScore {
    display: flex;
    gap: 20px;
    width: 100%;
}

#submitScore input {
    height: 24px;
    flex: 3;
}

#submitScore button {
    margin: 0;
    height: 30px;
    flex: 1;
}

#toast {
    position: fixed;
    display: flex;
    bottom: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: fit-content;
    height: 32px;
    background-color: #eeeeee;
    padding: 8px 16px;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    transition: all 0.5s ease-in-out ;
    opacity: 0;
}